/* All */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* top bar */
.barbtn {
    background-color: rgb(var(--base-color));
    color: rgb(var(--font-color));
    padding: 16px;
    height: 100%;
    border: none;
    cursor: pointer;
    line-height: 0;
    text-align: center;
    width: 100%;
    box-shadow: var(--shadow-2);
}

.barbtn:nth-of-type(4){
     font-size: 12px;
}

.top-bar {
    position: relative;
    display: inline-block;
    height: 2.5rem;
    width: calc(100% / 6);
    float: right;
}

.top-bar:not(:nth-of-last-type){
  left: 10px;
}

.top-bar:not(:nth-of-last-type):hover{
  left: 0px;
  transition: all 0.2s;
}

#top-bar{
    position: sticky;
    top: 0;
    height: 2.5rem;
    width: 100%;
    padding: 6px;
    box-sizing: content-box;
    background-color: rgb(var(--base-color));
}

.topbar-content {
    display: none;
    position: absolute;
    background-color: var(--topbar-color);
    min-width: 6rem;
    box-shadow: var(--shadow-1);
}

.topbar-content a {
    color: rgb(var(--shadow-color));
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.topbar-content a:is(:hover, :active, :focus, :focus-within){
  background-color: rgb(var(--topbar-hover-color))
}

.top-bar:hover .topbar-content {
    display: block;
}
