:root{
  --header-monochrome: 13,110,153;
  --nav-monochrome: 33,37,41;
  --H-font-monochrome: 255,255,255;
}

body{
  padding: 0;
}

header{
  width: 100%;
  height: 20%;
  background-color: rgb(var(--header-monochrome));
}

#header-inner{
  display: flex;
  align-items: center;
  justify-content: center;
}

header #header-inner h1,
header #header-inner h3{
  color: rgb(var(--H-font-monochrome));
}

header #header-inner{
  margin: auto;
}

nav{
  background-color: rgb(var(--nav-monochrome));
  width: 100%;
  height: 5%;
}
