*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  background: black;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: cnenter;
  font-family: Arial;
}

.harmony-container{
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 100px;
  color: white;
}

.letter{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.letter .harmonyO1,
.letter .harmonyO2{
  list-style: none;
  width: 70px;
  height: 35px;
  padding: 10px;
  position:relative;
  overflow: hidden;
}

.letter .harmonyO1{
  padding-bottom: 0;
}

.letter .harmonyO2{
  padding-top: 0;
}

.letter .harmonyO1 .harmony,
.letter .harmonyO2 .harmony{
  ppositon: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px white,
              inset 0px 0px 10px white;
}

.letter .harmoryO2 .harmony{
  top: auto;
  bottom: 10px;
}

.letter svg{
  position: absolute;
  width: 0px;
  height:0px;
}

.letter .harmonyO1 .harmony{
  transform: translateY(50%);
}

.letter .harmonyO2 .harmony{
  transform: translateY(-50%);
}

.letter .harmonyO1 .harmony,
.letter .harmonyO2 .harmony{
  animation: move 1.2s forwards,
             shadow 1.5s 1.2s forwards;
}

@keyframes move{
  to{
    transform: none;
  }
}

@keyframes shadow{
  to{
    box-shadow: none;
  }
}
  
